<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alexandra Sidiropoulou</title>
</head>
<body>
    <h1>Hallo, ich bin Alexandra Sidiropoulou.Ich bin eine Wirtschaftsinformatik stundentin, die sich für KI und Psychologie interessiert.</h1>
    <a href="/asidiropou">
    <img src="/static/asidiropou.png">
    </a>
<h2>Meine Datenbankeinträge:</h2>
   {{ daten[0] }}


    <h1>Über mich</h1>
        <ul>
            <li><span class="label">Name:</span> Alexandra Sidiropoulou</li>
            <li><span class="label">Alter:</span> 21 </li>
            <li><span class="label">E-Mail:</span> asidiropou@stud.hs-heilbronn.de</li>
            <li><span class="label">Matrikelnummer:</span> 223653 </li>
        </ul>


<a href="{{ url_for('startseite') }}">Zurück zur Startseite</a>
</body>
</html>