<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Webbasierte Systeme</title>
</head>
<body>
<h1>willkommen im Projekt 7</h1>

<ul>
    <li><a href="{{ url_for('asidiropou_profil') }}">Alexandra Sidiropoulou</a></li>
    <li><a href="{{ url_for('bsaifo') }}">Biwar Saifo</a></li>
    <li><a href="{{ url_for('galkudsy') }}">Ghazal Kudsy</a></li>
    <li><a href="{{ url_for('alexandra') }}">Maria Alexandra Rosu</a></li>

</ul>
</body>
</html>